# extends 'prefs.html'
<!DOCTYPE html>
 <html>
   <head>
     <title>
        # block preftitle
        ${_("Announcements")}
        # endblock preftitle
     </title>
   </head>
   <body>
     <p>
      # trans 
      Announcements serve as a method for Trac to communicate events to you; the creation of a ticket, the change of a Wiki page, and so on. Under the Announcement system, you will only receive notifications to those topics that you subscribe to.
      # endtrans
     </p>
      # for title, box in boxes:
       <div class="announcer_preference_box" align="center">
         <div class="announcer_preference_title">${_("title")}</div>
         <div class="announcer_preference_options">${_("box")}</div>
       </div>
      # endfor
   </body>
</html>
 